---
import BaseLayout from "../../layouts/BaseLayout.astro";
import TimeLineElement from "../../components/cv/TimeLine.astro";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<BaseLayout title={t('cv.title')} sideBarActiveItemID={t('nav.cv')}>
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">{t('cv.profile')}</div>
  </div>

  <div class="mb-10 text-justify" set:html={t('cv.download')}>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">{t('cv.education')}</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title={t('cv.education1.title')}
      subtitle={t('cv.education1.subtitle')}
    >{t('cv.education1.description')}
    </TimeLineElement>
    <TimeLineElement
      title={t('cv.education2.title')}
      subtitle={t('cv.education2.subtitle')}
    >{t('cv.education2.description')}
    </TimeLineElement>
    <TimeLineElement
      title={t('cv.education3.title')}
      subtitle={t('cv.education3.subtitle')}
    >{t('cv.education3.description')}
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">{t('cv.experience')}</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title={t('cv.experience1.title')}
      subtitle={t('cv.experience1.subtitle')}
    >
      <div set:html={t('cv.experience1.description')}></div>
    </TimeLineElement>
    <TimeLineElement
      title={t('cv.experience2.title')}
      subtitle={t('cv.experience2.subtitle')}
    >
      <div set:html={t('cv.experience2.description')}></div>
    </TimeLineElement>
    <TimeLineElement
      title={t('cv.experience3.title')}
      subtitle={t('cv.experience3.subtitle')}
    >
      <div set:html={t('cv.experience3.description')}></div>
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">{t('cv.skills')}</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Java</li>
    <li>Python</li>
    <li>C++</li>
    <li>SQL</li>
    <li>JavaScript</li>
    <li>HTML/CSS</li>
    <li>R</li>
    <li>SAS</li>
    <li>Bash</li>
    <li>Git</li>
    <li>Docker</li>
    <li>Google Cloud Platform</li>
    <li>Conda</li>
    <li>Visual Studio</li>
    <li>PyCharm</li>
    <li>Azure</li>
    <li>DevOps</li>
    <li>pandas</li>
    <li>NumPy</li>
    <li>Matplotlib</li>
    <li>TensorFlow</li>
    <li>nltk</li>
    <li>node.js</li>
    <li>PyTorch</li>
</ul>

</BaseLayout>
