---
import BaseLayout from "../../layouts/BaseLayout.astro";
import HorizontalCard from "../../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import { useTranslations } from "../../i18n/utils";

const t = useTranslations('fr');

const posts = (await getCollection("blog"))
  .filter(post => post.slug.startsWith('fr/'))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 3);

const projects = (await getCollection("projects"))
  .filter(project => project.slug.startsWith('fr/') || !project.slug.includes('/'))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 3);
---
<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-5xl font-bold">About Me</div>
    <div class="text-3xl py-3 font-bold">Computer Science Student and AI Enthusiast</div>
    <div class="py-2">
      <text class="text-lg">
        Je suis un étudiant de premier cycle en mathématiques et informatique à l'Université de Montréal, 
        avec une spécialisation en science des données. Mes intérêts de recherche tournent autour de 
        l'apprentissage par renforcement, de l'inférence causale en apprentissage automatique, et de la 
        prise de décision pilotée par l'IA. Je suis particulièrement attiré par les projets qui combinent 
        une méthodologie rigoureuse avec des applications concrètes, dans le but de créer des solutions 
        qui s'attaquent à des défis sociétaux tangibles.
        <br><br>
        En dehors de mon travail académique, j'aime jouer au badminton, ce qui m'aide à rester actif 
        et équilibré. Ce sport m'a enseigné l'importance de la stratégie, de la concentration et de la 
        collaboration — des qualités que je transpose dans mes études et mes recherches.
        <br><br>
        Sur le plan professionnel, je travaille actuellement comme conseiller en ingénierie de données 
        chez Desjardins, où j'applique mes compétences techniques à des défis concrets. Cette expérience 
        m'a permis de travailler sur des ensembles de données à grande échelle, de développer des outils 
        automatisés, et de contribuer à des projets qui améliorent le traitement et l'analyse des données. 
        Cela a davantage renforcé mes compétences en ingénierie de données tout en me fournissant de 
        précieuses perspectives industrielles. J'ai hâte de poursuivre mon parcours tant dans le milieu 
        académique que dans l'industrie, en tirant parti de mes compétences pour avoir un impact significatif.
      </text>
    </div>
  </div>
</BaseLayout>