---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Download my CV here in <u><a href="../public/CV - Guillaume Genois - english.pdf" data-astro-reload>english</a></u> or in <u><a href="../public/CV - Guillaume Genois - francais.pdf" data-astro-reload>french</a></u>.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Bachelor’s Degree in Mathematics and Computer Science"
      subtitle="2022 to 2025 at Université de Montréal, Montréal, Canada"
    >Specialization in Data Science
    </TimeLineElement>
    <TimeLineElement
      title="Diploma of College Studies (DEC) in Natural Sciences"
      subtitle="2020 to 2022 at Cégep André-Laurendeau, Montréal, Canada"
    >Overall GPA : 91%
    </TimeLineElement>
    <TimeLineElement
      title="High School Diploma"
      subtitle="2015 to 2020 at Collège de Montréal, Montréal, Canada"
    >Recipient of Academic Excellence Awards
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Data Engineering Advisor (Developer)"
      subtitle="From May 2024 to Present at Desjardins, Montréal, Canada"
    > Developed a tool to extract used fields and their sources from SQL and SAS queries to automate impact analyses and data traceability. <br>
      Contributed to the development of a multidimensional model in Continuous Integration/Continuous Deployment (CI/CD). <br>
      Gained experience working in Agile mode within a large organization, requiring rigorous development, effective team communication, and continuous documentation.
    </TimeLineElement>
    <TimeLineElement
      title="System Pilot Student (Developer)"
      subtitle="From May 2023 to April 2024 at Office québécois de la langue française, Montréal, Canada"
    > Independently handled recurring and special development mandates.<br>
      Extracted and analyzed data using SQL programming to produce accountability reports and respond to internal and media requests.<br>
      Quickly learned new software, including Microsoft Access, Microsoft Power BI, and internal tools.<br>
    </TimeLineElement>
    <TimeLineElement
      title="Badminton Coach and Animator"
      subtitle="From 2020 to 2023 at Badminton Lachine Club, Lachine, Canada"
    >
      Planned and executed training sessions in coordination with assistant coaches.<br>
      Set long-term global and personal objectives for player progression.<br>
      Simplified and presented basic and advanced concepts to groups of 20 players.<br>
    </TimeLineElement>
  </div>

  <!--<div class="mb-5">-->
  <!--  <div class="text-3xl w-full font-bold">Certifications</div>-->
  <!--</div>-->

  <!--<ul class="list-disc mx-6 mb-10 grid gap-2">-->
  <!--  <li>-->
  <!--    <a href="#" target="_blank"> Certification Name (with link)</a>-->
  <!--  </li>-->
  <!--  <li>-->
  <!--    <a href="#" target="_blank"> Certification Name (with link)</a>-->
  <!--  </li>-->
  <!--</ul>-->

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Java</li>
    <li>Python</li>
    <li>C++</li>
    <li>SQL</li>
    <li>JavaScript</li>
    <li>HTML/CSS</li>
    <li>R</li>
    <li>SAS</li>
    <li>Bash</li>
    <li>Git</li>
    <li>Docker</li>
    <li>Google Cloud Platform</li>
    <li>Conda</li>
    <li>Visual Studio</li>
    <li>PyCharm</li>
    <li>Azure</li>
    <li>DevOps</li>
    <li>pandas</li>
    <li>NumPy</li>
    <li>Matplotlib</li>
    <li>TensorFlow</li>
    <li>nltk</li>
    <li>node.js</li>
    <li>PyTorch</li>
</ul>

</BaseLayout>
