---
import { getLangFromUrl, useTranslations, localizeUrl } from '../i18n/utils';

const { sideBarActiveItemID } = Astro.props;
const activeClass = "bg-base-300"; // For primary color replace with `active` class

const currentLang = getLangFromUrl(Astro.url);
const t = useTranslations(currentLang);
---

<ul class="menu grow shrink menu-md overflow-y-auto">
    <li><a class="py-3 text-base" id="home" href={localizeUrl("/", currentLang)}>{t('nav.home')}</a></li>
    <li><a class="py-3 text-base" id="projects" href={localizeUrl("/projects", currentLang)}>{t('nav.projects')}</a></li>
    <!--<li><a class="py-3 text-base" id="services" href={localizeUrl("/services", currentLang)}>{t('nav.services')}</a></li>-->
    <!--<li><a class="py-3 text-base" id="store" href={localizeUrl("/store", currentLang)}>{t('nav.store')}</a></li>-->
    <!--<li><a class="py-3 text-base" id="blog" href={localizeUrl("/blog/", currentLang)}>{t('nav.blog')}</a></li>-->
    <li><a class="py-3 text-base" id="cv" href={localizeUrl("/cv", currentLang)}>{t('nav.cv')}</a></li>
    <li>
        <a
            class="py-3 text-base"
            href="mailto:guillaume.genois@mila.quebec"
            target="_blank"
            referrerpolicy="no-referrer-when-downgrade">{t('nav.contact')}</a
        >
    </li>
</ul>

<script define:vars={{ sideBarActiveItemID: sideBarActiveItemID, activeClass: activeClass }}>
const activeItemElem = document.getElementById(sideBarActiveItemID);
activeItemElem && activeItemElem.classList.add(activeClass);
</script>
